<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="/script/style.css">
</head>
<body>
    <center>
    <h1>Index Page</h1>
    <form action="#" method="POST">
        Enter your Name : 
        <input type="text" name = "names" id = "names" placeholder="Enter your name"><br>
        Enter Your Feedback : 
        <input type="text" name = "feedback" id = "feedback" placeholder="give us the feedback"><br>
        <input type="submit">
    </form>
</center>
</body>
</html>