body {
    font-family: 'Segoe UI', sans-serif;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    padding: 50px;
  }
  
  .todo-container {
    background:#f0f0f0;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    width: 400px;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .input-section {
    display: flex;
    margin-bottom: 20px;
  }
  
  #task-input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 8px;
    margin-right: 10px;
  }
  
  button {
    padding: 10px 15px;
    background-color: #ffffff;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  button:hover {
    background-color:#ffffff;
  }
  
  #task-list {
    list-style-type: none;
    padding: 0;
  }
  
  #task-list li {
    background: #ffffff;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .completed {
    text-decoration: line-through;
    color: #999;
  }
  